.main {
  margin: 0 auto;
  max-width: 50em;
  color: #566b78;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

pre {
  padding: 1em;
  border-left: 2px solid #69c;
}

@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background: #ecf0f1;
}
/** Nav **/
.navbar-inverse {
  background:#2c3e50 !important;
  border-bottom:2px solid #95a5a6 !important;
}

.navbar-brand {
  font: 12px Lato !important;
  text-transform: uppercase;
  color: #ecf0f1 !important;
  letter-spacing: 2px;
  margin-top: 2px;
}

.nav {
  margin-bottom: 0px;
}
.nav a {
  font: 500 11px Lato;
  letter-spacing: 2px;
  padding: 16px !important;
  color: #95a5a6 !important;
  text-transform: uppercase;
  position: relative;
  z-index: 1000;
}
.nav a:hover {
  color: #ecf0f1 !important;
}
.nav li {
  position: relative;
}

.navbar-inverse .navbar-toggle {
  border: none;
}

.navbar-collapse {
  box-shadow: none !important;
  border: none !important;
}

.navbar-inverse .navbar-toggle:hover {
  background: transparent !important;
}

.navbar-inverse .navbar-toggle:focus {
  background: transparent !important;
}

.navbar-inverse .navbar-toggle:active {
  background: transparent !important;
}

.icon-bar {
  background: #95a5a6 !important;
}
.icon-remove{
  font-size:2em;
  color: #95a5a6;
  display: none;
}
.navbar-collapse.in{
  position: relative;
  overflow-y: auto;
  height: 100vh;
  max-height: unset !important;
}
.actv a{
  color: #ecf0f1 !important;
}
.actv:after{
  backface-visibility: hidden;
  border: 1px solid #ecf0f1;
  opacity: 1;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  width: 70%;
}

@media (max-width: 767px) {
  .nav {
    padding-bottom: 20px;
  }
  .nav a {
    padding: 12px !important;
  }
  .nav-bttn, .actv{
    text-align: center;
    margin-bottom: 1em;
  }
  .nav-bttn a, .actv a{
    font-size: 1.3em
  }
  .navbar-nav{
    position: absolute;
    top: 43%;
    left: 53%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 480px) {
  .nav {
    padding-bottom: 20px;
  }
}
@media (min-width: 768px){
  .nav-bttn:after {
    backface-visibility: hidden;
    border: 1px solid #ecf0f1;
    opacity: 0;
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
  }
  .nav-bttn:hover:after {
    backface-visibility: hidden;
    border-color: #ecf0f1;
    opacity: 1;
    transition: width 350ms ease-in-out;
    width: 70%;
  }
}
